ICLOUD_USERNAME=__REDACTED_ICLOUD_EMAIL__
ICLOUD_APP_PASSWORD=__REDACTED_ICLOUD_APP_PASSWORD__
NOTION_API_TOKEN=__REDACTED_NOTION_TOKEN__
NOTION_DATABASE_ID=__REDACTED_NOTION_DB_ID__

OPENAI_API_KEY=__REDACTED_OPENAI_TOKEN__
NOTION_VIEW_ID=YOUR_VIEW_ID
