Flask==1.1.4
Werkzeug==1.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
itsdangerous==1.1.0
click==7.1.2
requests==2.25.1
urllib3==1.26.9
certifi==2022.5.18
chardet==4.0.0
idna==2.10
APScheduler==3.7.0
pychromecast==3.2.1
protobuf==3.19.6
zeroconf==0.28.8
ifaddr==0.1.7
gTTS==2.2.4
python-dotenv==0.19.2
